<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= drink.name %></title>
  <link rel="stylesheet" href="/css/cocktail-information.css">
</head>
<body>
  <header>
    <button class="back-container">
      <span id="main"><img src="/images/back-icon.svg"></span>
    </button>
    <h1><%= drink.name %></h1>
  </header>
  <main>
    <div class="drink-info" data-IdDrink="<%= drink._id %>">
      <div class="drink-image">
        <img src="<%= drink.imageUrl %>" alt="<%= drink.name %>">
      </div>
      <div class="drink-details">
        <h2>Ingredients:</h2>
        <ul>
          <% ingredients.forEach((ingredient) => { %>
            <li>
              <img src="<%= ingredient.imageUrl %>" alt="<%= ingredient.name %>">
              <div class="ingredient-info">
                <div class="ingredient-name"><%= ingredient.name %></div>
                <div class="ingredient-measurements"><%= ingredient.measurements %></div>
              </div>
            </li>
          <% }); %>
        </ul>
        <div class="instruction-row">
          <h2>Instructions:</h2>
          <div class="edit-button">
            <button onclick="confirmEdit()">Edit Recipe</button>
          </div>
        </div>
        <div class="recipe">
          <p><%= drink.instructions %></p>
        </div>
        <div class="comment-form">
          <h2>Add a Comment</h2>
          <form class="form-action" action="/info-for-drink" method="post">
            <textarea id="comment-area" name="comment" placeholder="Enter your comment" rows="4" required></textarea>
            <button>Submit</button>
          </form>
        </div>
        <% commentReviews.forEach((comment) => { %>
          <div class="comment-box">
            <h3><%= comment.commenter %> ></h3>
            <p><%= comment.text %></p>
        </div>
        <% }); %>
      </div>
    </div>
  </main>
  <script>
    document.getElementById("comment-form").addEventListener("submit", function(event) {
      event.preventDefault();
      fetch(`/info-for-drink`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        }
      })
      .then(response => {
        if (!response.ok) {
          throw new Error("Network response was not ok");
        }
      })
      .catch(error => {
        console.error('There has been a problem with fetch operation:', error);
      });
    });
  </script>
  <script>
    function confirmEdit() {
      if (confirm("Are you sure you want to edit this recipe?")) {
        window.location.href = "/edit";
      }
    };
  </script>
  <script>
    document.getElementById("main").addEventListener("click", function() {
      window.location.href = "/";
    });
  </script> 
</body>
</html>