<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= drink.name %></title>
  <link rel="stylesheet" href="/css/cocktail-information.css">
</head>
<body>
  <header>
    <button class="back-container">
      <span id="main"><img src="/images/back-icon.svg"></span>
    </button>
    <h1><%= drink.name %></h1>
  </header>
  <main>
    <div class="drink-info" data-IdDrink="<%= drink._id %>">
      <div class="drink-image">
        <img src="<%= drink.imageUrl %>" alt="<%= drink.name %>">
        <% if (drink.ratings && drink.ratings.length > 0) { %>
          <p>Rating for the drink: <%= drink.ratings[0].toFixed(1) %></p>
        <% } else { %>
          <p>No ratings available</p>
        <% } %>
      </div>                 
      <div class="drink-details">
        <h2>Ingredients:</h2>
        <ul>
          <% ingredients.forEach((ingredient) => { %>
            <li>
              <img src="<%= ingredient.imageUrl %>" alt="<%= ingredient.name %>">
              <div class="ingredient-info">
                <div class="ingredient-name"><%= ingredient.name %></div>
                <div class="ingredient-measurements"><%= ingredient.measurements %></div>
              </div>
            </li>
          <% }); %>
        </ul>
        <div class="instruction-row">
          <h2>Instructions:</h2>
          <div class="edit-button">
            <button onclick="confirmEdit()">Edit Recipe</button>
          </div>
        </div>
        <div class="recipe">
          <p><%= drink.instructions %></p>
        </div>
        <div class="comment-form">
          <div class="add-rating">
            <h2>Add a Comment</h2>
            <div class="rating-wrapper">
              <span class="rating-star" data-rating="5">&#9733</span>
              <span class="rating-star" data-rating="4">&#9733</span>
              <span class="rating-star" data-rating="3">&#9733</span>
              <span class="rating-star" data-rating="2">&#9733</span>
              <span class="rating-star" data-rating="1">&#9733</span>
            </div>
          </div>
          <form class="form-action" id="comment-form" action="/info-for-drink" method="post">
            <textarea id="comment-area" name="comment" placeholder="Enter your comment" rows="4" required></textarea>
            <input type="hidden" id="rating-input" name="rating">
            <button type="submit">Submit</button>
          </form>
        </div>
        <% commentReviews.forEach((comment) => { %>
          <div class="comment-box">
            <div class="comment-header">
              <h3><%= comment.commenter %> ></h3>
              <div class="rating-container">
                <% for(let i = 1; i <= 5; i++) { %>
                  <% if(i <= comment.rating) { %>
                    <span class="star selected">&#9733;</span>
                  <% } else { %>
                    <span class="star">&#9733;</span>
                  <% } %>
                <% } %>
              </div>
            </div>
            <p><%= comment.text %></p>
          </div>
        <% }); %>
      </div>
    </div>
  </main>
  <script>
    document.querySelectorAll(".rating-star").forEach(function(star) {
      star.addEventListener("click", function() {
        const rating = parseInt(this.dataset.rating);
        const stars = document.querySelectorAll(".rating-star");
        stars.forEach(function(s) {
          if (parseInt(s.dataset.rating) <= rating) {
            s.classList.add("selected");
          } else {
            s.classList.remove("selected");
          }
        });
        document.getElementById("rating-input").value = rating;
      });
    });
  </script>
  <script>
    document.getElementById("comment-form").addEventListener("submit", function(event) {
      event.preventDefault();
      const comment = document.getElementById("comment-area").value;
      const rating = document.getElementById("rating-input").value;
      const drinkId = document.querySelector('.drink-info').dataset.iddrink;
      fetch(`/info-for-drink`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ comment, rating })
      })
      .then(response => {
        if (!response.ok) {
          throw new Error("Network response was not ok");
        }
        window.location.href = `/info-for-drink?id=${drinkId}`;
      })
      .catch(error => {
        console.error('There has been a problem with fetch operation:', error);
      });
    });
  </script>
  <script>
    function confirmEdit() {
      if (confirm("Are you sure you want to edit this recipe?")) {
        window.location.href = "/edit";
      }
    };
  </script>
  <script>
    document.getElementById("main").addEventListener("click", function() {
      window.location.href = "/";
    });
  </script>
</body>
</html>