<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cocktails</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div id="video-container">
        <video autoplay loop muted plays-inline id="bg-video">
            <source src="/videos/waves.mp4" type="video/mp4">
        </video>
        <div class="overlay"></div>
    </div>
    <div id="content-wrapper">
        <%- include('partials/header'); -%>
        <main>
            <h3>Random drinks</h3>
            <div class="drinks">
                <% for (let i = 0; i < drinks.length; i++) { %>
                    <div class="drink" data-idDrink="<%= drinks[i]._id %>">
                        <img src="<%= drinks[i].imageUrl %>" alt="<%= drinks[i].name %>">
                        <h2><%= drinks[i].name %></h2>
                    </div>
                    <% if ((i + 1) % 3 === 0 && i !== drinks.length - 1) { %>
                        </div><div class="drinks">
                    <% } %>
                <% } %>
            </div>
        </main>
    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const drinkDivs = document.querySelectorAll('.drink');
            drinkDivs.forEach(function (drinkDiv) {
                drinkDiv.addEventListener('click', function () {
                    const drinkId = this.getAttribute('data-idDrink');
                    window.location.href = `/info-for-drink?id=${drinkId}`;
                });
            });
        });
    </script>
    <script>
        document.querySelector('.search-form').addEventListener('submit', function(event) {
            event.preventDefault();
            const searchInput = document.getElementById('search-input').value;
            window.location.href = `/search?name=${searchInput}`;
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const mainTitleSpan = document.getElementById('main-title');
            mainTitleSpan.addEventListener('click', function (event) {
                if (event.target === this) {
                    window.location.href = '/';
                }
            });
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const mainTitleSpan = document.getElementById('signup');
            mainTitleSpan.addEventListener('click', function (event) {
                if (event.target === this) {
                    window.location.href = '/signup';
                }
            });
        })
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const mainTitleSpan = document.getElementById('login');
            mainTitleSpan.addEventListener('click', function (event) {
                if (event.target === this) {
                    window.location.href = '/login';
                }
            });
        })
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const mainTitleSpan = document.getElementById('logout');
            mainTitleSpan.addEventListener('click', function (event) {
                if (event.target === this) {
                    window.location.href = '/logout';
                }
            });
        })
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const addButton = document.getElementById('add');
            addButton.addEventListener('click', function (event) {
                window.location.href = '/add';
            });
        });
    </script>
    
</body>
</html>